//-

  options.classes - строка с классами(wrapper)
  options.arrow - вид стрелки
  options.type - input type
  options.placeholder - input placeholder
  options.value - input value
  options.label - подпись к checkbox и radio
  options.name - input name (связь radio)
  options.like - статус like кнопки
  options.button - вид кнопки (like/dropdown)
  options.show - показать dropdown
  options.items - массив элементов dropdown



mixin input(options)
    if !options
        - options = {}

    -
        let classes = '';
        classes += options.classes ? options.classes : ''
        classes += options.arrow ? ' input__'+options.arrow : ''
        if (options.like === 'like')
            classes += ' like-button__enable'

        let inputClasses = '';
        if (options.show === 'show')
            switch (options.button) {
                case 'dropdown': {
                    inputClasses += ' dropdown__border'
                    break
                }
                case 'checkbox': {
                    inputClasses += ' '
                    classes += ' checkbox-list__show'
                    break
                }
            }


    .input
        .input__wrapper(class=classes)
            - if (options.type === 'text' || options.type === 'email' || options.type === 'password')
                input.input__element(
                    type = options.type
                    placeholder = options.placeholder
                    value = options.value
                )

            - if (options.type === 'button')
                - if (options.button === 'like')
                    input.input__element(
                        type = options.type
                        value = options.value
                        data-action = options.like
                    )
                - if (options.button === 'dropdown')
                    input.input__element.dropdown__input(
                        type = options.type
                        value = options.value
                        class=inputClasses
                    )
                    - if (options.items)
                        .dropdown__wrapper(class=options.show data-action='rooms')
                            each item in options.items
                                +count(item)

                - if (options.button === 'checkbox')
                    input.input__element.checkbox-list__input(
                        type = options.type
                        value = options.value
                        class=inputClasses
                    )
                    - if (options.items)
                        .checkbox-list__wrapper(class=options.show)
                            each item in options.items
                                +input(item)


            - if (options.type === 'checkbox' || options.type === 'radio')
                 label.input__label.select
                     input.input__element(
                        type = options.type
                        name = options.name
                        checked=options.checked
                     )
                     span=options.label



mixin count(options)
    if !options
        - options = {}

    .dropdown__option
        h3= options.value
        .dropdown__count
            input(type='button' value='-' class='sign' data-action='minus')
            h3(data-action='content')= options.number
            input(type='button' value='+' class='sign' data-action='plus')