//-
  options.checked - количество выбранных звезд

  для выставления отметки

  mixin rate(options)
    if !options
        - options = {}
    .rate-button
        - for (let i=5; i>0; i--)
            - let checked
            if options.checked == i
                - checked = true

            input(
                class='rate-button__input'
                type='radio'
                name=options.id
                id=options.id + '__' + i
                checked=checked
            )
            label(
                class='rate-button__label'
                for=options.id + '__' + i
            )

mixin rate(options)
    if !options
        - options = {}

    .rating
        - for (let i = 1; i<=options.checked; i++)
            .rating__star.rating__star_filled
        - for (let i = options.checked+1; i<=5; i++)
            .rating__star
