extends ../../components/base/base

include ../../components/elementTitle/elementTitle
include ../../components/input/input
include ../../components/rateButton/rateButton
include ../../components/button/button
include ../../components/calendar/calendar
include ../../components/roomPreview/roomPreview


block content
    .container.container__background
        section
            form.form
                .form__column
                    .card
                        .card__element
                            h1 Найдём номера под ваши пожелания
                        .card__element.wrapper__column
                            .column__dropdown
                                +title({
                                    title: 'прибытие'
                                })
                                +input({
                                    type: 'button',
                                    value: 'ДД.ММ.ГГГГ',
                                    button_type: 'dropdown',
                                    arrow: 'arrow_bottom'
                                })
                            .column__dropdown
                                +title({
                                    title: 'выезд'
                                })
                                +input({
                                    type: 'button',
                                    value: 'ДД.ММ.ГГГГ',
                                    button_type: 'dropdown',
                                    arrow: 'arrow_bottom'
                                })
                        .card__element
                            +title({
                                title: 'гости'
                            })
                            div
                                include ../../components/input/dropdown-guests-data
                                +input({
                                    type: 'button',
                                    value: 'Сколько гостей',
                                    arrow: 'arrow_bottom',
                                    classes: 'dropdown',
                                    button_type: 'dropdown',
                                    button_apply: true,
                                    button_clear: true,
                                    counts: 'guestsNumbers',
                                    items: [{
                                        value: 'взрослые',
                                        number: 0
                                    }, {
                                        value: 'дети',
                                        number: 0
                                    }, {
                                        value: 'младенцы',
                                        number: 0
                                    }]
                                })
                        .card__element.card__button
                            +button({
                                value: 'подобрать номер',
                                classes: 'background',
                                arrow: 'arrow_right'
                            })


                    .card
                        .card__element
                            h1 Регистрация аккаунта
                        .card__element
                            +input({
                                type: 'text',
                                placeholder: 'Имя'
                            })
                            +input({
                                type: 'text',
                                placeholder: 'Фамилия'
                            })
                            .wrapper__radiobutton
                                +input({
                                    type: 'radio',
                                    classes: 'radiobutton',
                                    name: 'radio',
                                    label: 'Мужчина',
                                    checked: true
                                })
                                +input({
                                    type: 'radio',
                                    classes: 'radiobutton',
                                    name: 'radio',
                                    label: 'Женщина'
                                })
                        .card__element
                            +title({
                                title: 'Дата рождения'
                            })
                            +input({
                                type: 'text',
                                placeholder: 'ДД.ММ.ГГГГ'
                            })
                        .card__element
                            +title({
                                title: 'данные для входа в сервис'
                            })
                            +input({
                                type: 'email',
                                placeholder: 'Email'
                            })
                            +input({
                                type: 'password',
                                placeholder: 'Пароль'
                            })
                            +input({
                                type: 'checkbox',
                                classes: 'toggle',
                                label: 'Получать спецпредложения'
                            })
                        .card__element.card__button
                            +button({
                                value: 'перейти к оплате',
                                classes: 'background',
                                arrow: 'arrow_right'
                            })
                        .card__element.card__footer
                            span Уже есть аккаунт на Toxin
                            .card__footer-button.card__button
                                +button({
                                    value: 'войти',
                                    classes: 'border'
                                })

                .form__column
                    .card
                        .card__element.room__title
                            .room__number
                                h3 №
                                    h1 888
                                    span люкс
                            .room__cost
                                h3= '9 990₽ '
                                    span в сутки
                        .card__element.wrapper__column
                            .column__dropdown
                                +title({
                                    title: 'прибытие'
                                })
                                +input({
                                    type: 'button',
                                    value: '19.08.2019',
                                    button_type: 'dropdown',
                                    arrow: 'arrow_bottom'
                                })
                            .column__dropdown
                                +title({
                                    title: 'выезд'
                                })
                                +input({
                                    type: 'button',
                                    value: '23.08.2019',
                                    button_type: 'dropdown',
                                    arrow: 'arrow_bottom'
                                })
                        .card__element
                            +title({
                                title: 'гости'
                            })
                            div
                                include ../../components/input/dropdown-guests-data
                                +input({
                                    type: 'button',
                                    value: '3 гостя',
                                    arrow: 'arrow_bottom',
                                    classes: 'dropdown',
                                    button_type: 'dropdown',
                                    button_apply: true,
                                    button_clear: true,
                                    counts: 'guestsNumbers',
                                    items: [{
                                        value: 'взрослые',
                                        number: 2
                                    }, {
                                        value: 'дети',
                                        number: 1
                                    }, {
                                        value: 'младенцы',
                                        number: 0
                                    }]
                                })
                        .card__element.price
                            .price__element
                                .price__name
                                    span= '9 990₽ х 4 суток'
                                .price__cost
                                    span= '39 960₽'
                            .price__element
                                .price__name
                                    span= 'Сбор за услуги: скидка 2 179₽'
                                    .price__info
                                .price__cost
                                    span= '0₽'
                            .price__element
                                .price__name
                                    span= 'Сбор за дополнительные услуги'
                                    .price__info
                                .price__cost
                                    span= '300₽'
                        .card__element.total
                            h2 Итого
                            .total__line
                            h2 38 081₽
                        .card__element.card__button
                            +button({
                                value: 'забронировать',
                                classes: 'background',
                                arrow: 'arrow_right'
                            })

                    .card
                        .card__element
                            h1 Войти
                        .card__element
                            +input({
                                type: 'email',
                                placeholder: 'Email'
                            })
                            +input({
                                type: 'password',
                                placeholder: 'Пароль'
                            })
                        .card__element.card__button
                            +button({
                                value: 'войти',
                                classes: 'background',
                                arrow: 'arrow_right'
                            })
                        .card__element.card__footer
                            span Нет аккаунта на Toxin?
                            .card__footer-button.card__button
                                +button({
                                    value: 'создать',
                                    classes: 'border'
                                })

                    .card
                        +calendar()

                    .card.card__room
                        +roomPreview({
                            number: '888',
                            comfort: 'люкс',
                            price: '9 990',
                            star: '5',
                            comment: '145',
                            image: [{
                                src: 'room/room888lux-1.png',
                                style: 'margin: -46px -44px -20px -10px;' +
                                    'width: 324px;' +
                                    'height: 217px;' +
                                    'clip-path: inset(46px 44px 20px 10px round 4px 4px 0 0);'
                            }, {
                                src: 'room/room888lux-1.png',
                                style: 'margin: -46px -44px -20px -10px;' +
                                    'width: 324px;' +
                                    'height: 217px;' +
                                    'clip-path: inset(46px 44px 20px 10px round 4px 4px 0 0);'
                            }, {
                                src: 'room/room888lux-1.png',
                                style: 'margin: -46px -44px -20px -10px;' +
                                    'width: 324px;' +
                                    'height: 217px;' +
                                    'clip-path: inset(46px 44px 20px 10px round 4px 4px 0 0);'
                            }, {
                                src: 'room/room888lux-1.png',
                                style: 'margin: -46px -44px -20px -10px;' +
                                    'width: 324px;' +
                                    'height: 217px;' +
                                    'clip-path: inset(46px 44px 20px 10px round 4px 4px 0 0);'
                            }]
                        })

                    .card.card__room
                        +roomPreview({
                            number: '840',
                            price: '9 900',
                            star: '4',
                            comment: '65',
                            image: [{
                                src: 'room/room840.png',
                                style: 'margin: -13px -31px -25px -31px;' +
                                    'width: 332px;' +
                                    'height: 189px;' +
                                    'clip-path: inset(13px 31px 25px 31px round 4px 4px 0 0);'
                            }, {
                                src: 'room/room840.png',
                                style: 'margin: -13px -31px -25px -31px;' +
                                    'width: 332px;' +
                                    'height: 189px;' +
                                    'clip-path: inset(13px 31px 25px 31px round 4px 4px 0 0);'
                            }, {
                                src: 'room/room840.png',
                                style: 'margin: -13px -31px -25px -31px;' +
                                    'width: 332px;' +
                                    'height: 189px;' +
                                    'clip-path: inset(13px 31px 25px 31px round 4px 4px 0 0);'
                            }, {
                                src: 'room/room840.png',
                                style: 'margin: -13px -31px -25px -31px;' +
                                    'width: 332px;' +
                                    'height: 189px;' +
                                    'clip-path: inset(13px 31px 25px 31px round 4px 4px 0 0);'
                            }]
                        })

